<%- include("header"); -%>


<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
  </div>
  
  <div style="margin-bottom: 34.9vh;" class="container text-center">
    <h1 style="color: red;" class="display-6">
      Oops! Payment Failed
    </h1>
    <h3>Your payment didn't go through</h3>
    <p>But your booking has been done and will be confirmed shortly</p>
    <p style="color: #C92C6D;">You can pay the bill at the time of checkout</p>
    <a href="/bookings">View your Bookings</a>
  </div>


  <%- include("footer"); -%>