<footer style="background-color: #C92C6D;" class="footer text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 style="margin-top: 30px;">About Us</h5>
          <p>HMS is a brand known for boutique hotels, with each one having its own unique personality.</p>
        </div>
        <div class="col-md-4">
          <h5 style="margin-top: 30px;" >Useful Links</h5>
          <ul class="list-unstyled">
            <li><a style="color: black;" href="/">Home</a></li>
            <li><a style="color: black;" href="/about">About</a></li>
            <li><a style="color: black;" href="https://goo.gl/maps/2cqWzVb9uSn43NrQ7">Locate Us</a></li>
            <li><a style="color: black;" href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 style="margin-top: 30px;" >Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-phone"></i> +1 (555) 123-4567</li>
            <li><i class="fas fa-envelope"></i> wecare@hmsglobal.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Street 23, London United Kingdom</li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 HMS GLOBAL HOSPITALITY LLC. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>