
<%- include("header"); -%>


<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
  </div>
  
  <div style="margin-bottom: 34.9vh;" class="container text-center">
    <h1 style="color: green;" class="display-6">
      Success!
    </h1>
    <h3>Your payment was succesfull!</h3>
    <p style="color: #C92C6D;">Your booking will be confirmed shortly.</p>
    <a href="/bookings">View your Bookings</a>
  </div>


  <%- include("footer"); -%>