
<%- include("partials/header"); -%>

<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
  </div>
  <div style="padding-bottom: 16vh;" class="container">
    <h3 style="color: #C92C6D; margin-bottom: 10px;" class="display-6">About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget felis eget nunc lobortis mattis aliquam faucibus. Et sollicitudin ac orci phasellus egestas tellus. Dictum fusce ut placerat orci nulla. Est sit amet facilisis magna etiam tempor orci eu lobortis. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Sed elementum tempus egestas sed sed risus pretium quam. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Ultrices sagittis orci a scelerisque. Posuere morbi leo urna molestie at elementum eu. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Duis ut diam quam nulla. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Nibh ipsum consequat nisl vel pretium. Pellentesque id nibh tortor id. Mauris augue neque gravida in fermentum.
  
      Consequat ac felis donec et odio pellentesque diam. Nam at lectus urna duis convallis convallis tellus. Aliquam sem fringilla ut morbi tincidunt augue interdum. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Enim nulla aliquet porttitor lacus luctus accumsan. Est placerat in egestas erat imperdiet sed euismod. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Eu scelerisque felis imperdiet proin fermentum leo vel orci porta. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Enim ut tellus elementum sagittis vitae et leo duis. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Amet dictum sit amet justo donec. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. A iaculis at erat pellentesque. Quis vel eros donec ac odio tempor orci dapibus ultrices.</p>
</div>


<%- include("partials/footer"); -%>