
<%- include("partials/header"); -%>

<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
  </div>
  <div style="padding-bottom: 26.7vh;" class="container">
    <h3 style="color: #C92C6D; margin-bottom: 25px;" class="display-6">Contact us</h3>
    <h4 style="font-size: 3vh;">Call us :- +1 (555) 123-4567</h4>
    <h4 style="font-size: 3vh;">Mail us :- wecare@hmsglobal.com</h4>
    <h4 style="font-size: 3vh;">Write to us :- Street 23, London United Kingdom</h4>
  </div>

  <%- include("partials/footer"); -%>