
<%- include("partials/header"); -%>


<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
  </div>

  <div style="margin: auto;" class="row">
    <div style="margin: auto;" class="col-md-8">
        <h6 class="text-center">Single Bedded Rooms</h6>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="border-radius: 30px;" src="images/single.jpg" class="d-block w-100" alt="...">
          </div>
      </div>   
    </div>
  </div>

  <div style="margin: auto;" class="row">
    <div style="margin: auto;" class="col-md-8">
        <h6 class="text-center">Double Bedded Rooms</h6>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="border-radius: 30px;" src="images/double.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>   
    </div>
  </div>


  <div style="margin: auto;" class="row">
    <div style="margin: auto;" class="col-md-8">
        <h6 class="text-center">VIP Suite</h6>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="border-radius: 30px;" src="images/vip.jpg" class="d-block w-100" alt="...">
          </div>
      </div>   
    </div>
  </div>

  <%- include("partials/footer"); -%>