<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <title>Error</title>
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
          <a style="color: #C92C6D;" class="navbar-brand" href="/">
      <img src="https://cdn-icons-png.flaticon.com/512/187/187879.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      HMS Global
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-right: 40px;" class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Book</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">My Bookings</a></li>
            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
  <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
</div>

<div style="margin-bottom: 35vh;" class="container text-center">
  <h1 style="margin-bottom: 10vh;">User Already Exists!</h1>
  <a href="/"><button style="margin: 1vh; background-color: #C92C6D; color: white;" type="button" class="btn btn-block text-center">Home</button></a>
</div>



<footer style="background-color: #C92C6D;" class="footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 style="margin-top: 30px;">About Us</h5>
        <p>HMS is a brand known for boutique hotels, with each one having its own unique personality.</p>
      </div>
      <div class="col-md-4">
        <h5 style="margin-top: 30px;" >Useful Links</h5>
        <ul class="list-unstyled">
          <li><a style="color: black;" href="/">Home</a></li>
          <li><a style="color: black;" href="/about">About</a></li>
          <li><a style="color: black;" href="https://goo.gl/maps/2cqWzVb9uSn43NrQ7">Locate Us</a></li>
          <li><a style="color: black;" href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 style="margin-top: 30px;" >Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-phone"></i> +1 (555) 123-4567</li>
          <li><i class="fas fa-envelope"></i> wecare@hmsglobal.com</li>
          <li><i class="fas fa-map-marker-alt"></i> Street 23, London United Kingdom</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 HMS GLOBAL HOSPITALITY LLC. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
